@use '../../../sass/variables' as *;

.task-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.container-dark{
  color: $pure-white;
}

.contentEditable{
  
}