@use "../../../sass/variables";
@use "../../../sass/mixin";

input {
  font-size: 1.6rem;
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.dark-input {
  background-color: variables.$primary-color;
  color: variables.$pure-white;
  border: 1px solid variables.$pure-white;
  transition: 0.5s ease;
}

.welcome__container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

  text-align: center;

  form {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  button {
    margin-top: 50px;
  }

  h1 > span {
    text-transform: capitalize;
  }

  a {
    @include mixin.bodyS;
    margin-top: 20px;
    text-decoration: underline;
  }
}

h1 {
  @include mixin.heading1;
}
h2 {
  @include mixin.heading3;
}
p {
  @include mixin.bodyS;
}

.dark__container {
  color: variables.$pure-white;
}
.light__container {
  color: variables.$primary-color;
}
